.search-bot {
  font-size: medium;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
}

.search-rounded {
  border-radius: 100px;
  font-size: large;
  width: 50vw;
  border: 2px solid #ccc;
  color: white;
  border: none;
  background-color: #0303034f;
}

.font-size-large {
  font-size: large;
  color: #030303;
  cursor: pointer;
}

.pill-transtition {
  transition: all 1s ease !important;
}
