.search-bot {
  font-size: medium;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
}

.search-rounded {
  border-radius: 50px;
  font-size: large;
  width: 50vw;
  border: 2px solid #ccc;
  color:rgb(1, 126, 184)
}

.font-size-large{
  font-size: large;
  color:rgb(1, 126, 184);
  cursor: pointer;
}